.container {
  max-width: 900px;
  margin: auto;
}

hr {
  margin: 60px 0;
  border: 1px solid #efefef;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h1 {
  margin-bottom: 60px;
}

h2 {
  margin-top: 0;
}

/*
1. Draw a country flag
We want you use html and css to create a national flag of Japan. Please follow the SPEC below.


Ratio and position
height : width = 2 : 3
the risingsun at the center of the flags
diameter: three-fifths of the flags' height

COLORING
base: white
the rising sun: deep red
border: 1px solid black

*/

:root {
  --flag-height: 300px;
}
.japanFlag {
  position: relative;
  background-color: white;
  border: 1px solid black;
  aspect-ratio: 3/2;
  width: var(--flag-height);
}
.japanFlag:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--flag-height) / 3 * 2 / 5 * 3);
  /* height: calc(var(--flag-height) / 3 * 2 / 5 * 3); */
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
